[General]
Name=Default

[Video]
BaseCX=1920
BaseCY=1080
OutputCX=1280
OutputCY=720
FPSType=0
FPSCommon=60

[Panels]
CookieId=912D508D1986C859

[SimpleOutput]
VBitrate=6000
StreamEncoder=qsv
RecQuality=Stream

[Output]
Mode=Simple

[Auth]
Type=Twitch

[Twitch]
Name=poshcode
DockState=AAAA/wAAAAD9AAAAAgAAAAEAAAAAAAAAAPwCAAAABPsAAAAUAHQAdwBpAHQAYwBoAEMAaABhAHQCAAAGFAAAAL0AAAEsAAACWPsAAAAUAHQAdwBpAHQAYwBoAEkAbgBmAG8CAAAACAAAAK0AAAEsAAACivsAAAAWAHQAdwBpAHQAYwBoAFMAdABhAHQAcwIAAANbAAABewAAAMgAAAD6+wAAABQAdAB3AGkAdABjAGgARgBlAGUAZAIAAAIHAAAA4AAAASwAAAKKAAAAAwAAB4AAAACr/AEAAAAG+wAAABQAcwBjAGUAbgBlAHMARABvAGMAawEAAAAAAAACnwAAAKAA////+wAAABYAcwBvAHUAcgBjAGUAcwBEAG8AYwBrAQAAAqMAAAEdAAAAoAD////7AAAAEgBtAGkAeABlAHIARABvAGMAawEAAAPEAAABiAAAANwA////+wAAAB4AdAByAGEAbgBzAGkAdABpAG8AbgBzAEQAbwBjAGsBAAAFUAAAARMAAACaAP////sAAAAYAGMAbwBuAHQAcgBvAGwAcwBEAG8AYwBrAQAABmcAAAEZAAAAngD////7AAAAEgBzAHQAYQB0AHMARABvAGMAawIAAAGrAAABhAAABE4AAAFGAAAHgAAAAxwAAAAEAAAABAAAAAgAAAAI/AAAAAA=
RefreshToken=g5lqthftv90kxhbv7bmn0f7cz1s6eyalksgufcwlo4z8vew6v5
Token=jyy1jqa5hxpxkvruaoplvwie82admy
ExpireTime=1616450707
ScopeVer=1
