#!/usr/bin/env pwsh
# This script just cleans up the cache files whenever I change the Update-PSModulePath script
# profile hash: {{ include "dot_config/powershell/scripts/Update-PSModulePath.ps1" | sha256sum }}
Remove-Item "*.PSModulePath.env"
Remove-Item "*.Path.env"