{
    "AuxAudioDevice1": {
        "balance": 0.5,
        "deinterlace_field_order": 0,
        "deinterlace_mode": 0,
        "enabled": true,
        "flags": 0,
        "hotkeys": {
            "libobs.mute": [],
            "libobs.push-to-mute": [],
            "libobs.push-to-talk": [],
            "libobs.unmute": []
        },
        "id": "wasapi_input_capture",
        "mixers": 255,
        "monitoring_type": 0,
        "muted": false,
        "name": "Mic/Aux",
        "prev_ver": 436273153,
        "private_settings": {},
        "push-to-mute": false,
        "push-to-mute-delay": 0,
        "push-to-talk": false,
        "push-to-talk-delay": 0,
        "settings": {
            "device_id": "default"
        },
        "sync": 0,
        "versioned_id": "wasapi_input_capture",
        "volume": 1.0
    },
    "DesktopAudioDevice1": {
        "balance": 0.5,
        "deinterlace_field_order": 0,
        "deinterlace_mode": 0,
        "enabled": true,
        "flags": 0,
        "hotkeys": {
            "libobs.mute": [],
            "libobs.push-to-mute": [],
            "libobs.push-to-talk": [],
            "libobs.unmute": []
        },
        "id": "wasapi_output_capture",
        "mixers": 255,
        "monitoring_type": 0,
        "muted": false,
        "name": "Desktop Audio",
        "prev_ver": 436273153,
        "private_settings": {},
        "push-to-mute": false,
        "push-to-mute-delay": 0,
        "push-to-talk": false,
        "push-to-talk-delay": 0,
        "settings": {
            "device_id": "default"
        },
        "sync": 0,
        "versioned_id": "wasapi_output_capture",
        "volume": 1.0
    },
    "current_program_scene": "Drawing",
    "current_scene": "Drawing",
    "current_transition": "Fade",
    "groups": [],
    "modules": {
        "auto-scene-switcher": {
            "active": false,
            "interval": 300,
            "non_matching_scene": "",
            "switch_if_not_matching": false,
            "switches": []
        },
        "captions": {
            "enabled": true,
            "lang_id": 1033,
            "provider": "mssapi",
            "source": "CloseUp"
        },
        "decklink_captions": {
            "source": ""
        },
        "output-timer": {
            "autoStartRecordTimer": false,
            "autoStartStreamTimer": false,
            "pauseRecordTimer": true,
            "recordTimerHours": 0,
            "recordTimerMinutes": 0,
            "recordTimerSeconds": 30,
            "streamTimerHours": 0,
            "streamTimerMinutes": 0,
            "streamTimerSeconds": 30
        },
        "scripts-tool": []
    },
    "name": "Daily",
    "preview_locked": false,
    "quick_transitions": [
        {
            "duration": 300,
            "fade_to_black": false,
            "hotkeys": [],
            "id": 1,
            "name": "Cut"
        },
        {
            "duration": 300,
            "fade_to_black": false,
            "hotkeys": [],
            "id": 2,
            "name": "Fade"
        },
        {
            "duration": 300,
            "fade_to_black": true,
            "hotkeys": [],
            "id": 3,
            "name": "Fade"
        }
    ],
    "saved_projectors": [],
    "scaling_enabled": false,
    "scaling_level": 0,
    "scaling_off_x": 0.0,
    "scaling_off_y": 0.0,
    "scene_order": [
        {
            "name": "Blank"
        },
        {
            "name": "LiveStream"
        },
        {
            "name": "VideoChat"
        },
        {
            "name": "Drawing"
        }
    ],
    "sources": [
        {
            "balance": 0.5,
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {
                "libobs.mute": [],
                "libobs.push-to-mute": [],
                "libobs.push-to-talk": [],
                "libobs.unmute": []
            },
            "id": "browser_source",
            "mixers": 255,
            "monitoring_type": 0,
            "muted": false,
            "name": "World Window",
            "prev_ver": 436273153,
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "fps": 12,
                "fps_custom": true,
                "height": 582,
                "reroute_audio": true,
                "restart_when_active": true,
                "shutdown": true,
                "url": "https://window-swap.com/Window",
                "width": 960
            },
            "sync": 0,
            "versioned_id": "browser_source",
            "volume": 1.0
        },
        {
            "balance": 0.5,
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {
                "OBSBasic.SelectScene": [],
                "libobs.hide_scene_item.Background": [],
                "libobs.hide_scene_item.CloseUp": [],
                "libobs.hide_scene_item.Display Capture": [],
                "libobs.hide_scene_item.Moving Background": [],
                "libobs.hide_scene_item.Whiteboard": [],
                "libobs.hide_scene_item.World Window": [],
                "libobs.show_scene_item.Background": [],
                "libobs.show_scene_item.CloseUp": [],
                "libobs.show_scene_item.Display Capture": [],
                "libobs.show_scene_item.Moving Background": [],
                "libobs.show_scene_item.Whiteboard": [],
                "libobs.show_scene_item.World Window": []
            },
            "id": "scene",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Drawing",
            "prev_ver": 436273153,
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "custom_size": false,
                "id_counter": 7,
                "items": [
                    {
                        "align": 5,
                        "bounds": {
                            "x": 1920.0,
                            "y": 1080.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 2,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "group_item_backup": false,
                        "id": 1,
                        "locked": false,
                        "name": "Background",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 0,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "group_item_backup": false,
                        "id": 2,
                        "locked": false,
                        "name": "Moving Background",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": false
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 0,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "group_item_backup": false,
                        "id": 7,
                        "locked": false,
                        "name": "World Window",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 2.0,
                            "y": 2.0
                        },
                        "scale_filter": "disable",
                        "visible": false
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 0,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "group_item_backup": false,
                        "id": 3,
                        "locked": false,
                        "name": "Display Capture",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": false
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 0,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "group_item_backup": false,
                        "id": 4,
                        "locked": false,
                        "name": "CloseUp",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.5,
                            "y": 1.5
                        },
                        "scale_filter": "disable",
                        "visible": true
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 2315.0,
                            "y": 1139.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 2,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "group_item_backup": false,
                        "id": 5,
                        "locked": false,
                        "name": "Whiteboard",
                        "pos": {
                            "x": 0.0,
                            "y": -59.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    }
                ]
            },
            "sync": 0,
            "versioned_id": "scene",
            "volume": 1.0
        },
        {
            "balance": 0.5,
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "filters": [
                {
                    "balance": 0.5,
                    "deinterlace_field_order": 0,
                    "deinterlace_mode": 0,
                    "enabled": true,
                    "flags": 0,
                    "hotkeys": {},
                    "id": "chroma_key_filter",
                    "mixers": 0,
                    "monitoring_type": 0,
                    "muted": false,
                    "name": "Chroma Key",
                    "prev_ver": 436273153,
                    "private_settings": {},
                    "push-to-mute": false,
                    "push-to-mute-delay": 0,
                    "push-to-talk": false,
                    "push-to-talk-delay": 0,
                    "settings": {
                        "key_color": 4291621861,
                        "key_color_type": "custom",
                        "opacity": 100,
                        "similarity": 23,
                        "smoothness": 29,
                        "spill": 1
                    },
                    "sync": 0,
                    "versioned_id": "chroma_key_filter",
                    "volume": 1.0
                }
            ],
            "flags": 0,
            "hotkeys": {},
            "id": "window_capture",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Whiteboard",
            "prev_ver": 436273153,
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "method": 2,
                "window": "Microsoft Whiteboard:Windows.UI.Core.CoreWindow:WhiteboardWRT.exe"
            },
            "sync": 0,
            "versioned_id": "window_capture",
            "volume": 1.0
        },
        {
            "balance": 0.5,
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {
                "MediaSource.Pause": [],
                "MediaSource.Play": [],
                "MediaSource.Restart": [],
                "MediaSource.Stop": [],
                "libobs.mute": [],
                "libobs.push-to-mute": [],
                "libobs.push-to-talk": [],
                "libobs.unmute": []
            },
            "id": "ffmpeg_source",
            "mixers": 255,
            "monitoring_type": 0,
            "muted": false,
            "name": "Moving Background",
            "prev_ver": 436273153,
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "local_file": "{{.chezmoi.homeDir}}/Pictures/Backgrounds/particulate-10.mov",
                "looping": true,
                "speed_percent": 59
            },
            "sync": 0,
            "versioned_id": "ffmpeg_source",
            "volume": 1.0
        },
        {
            "balance": 0.5,
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {
                "OBSBasic.SelectScene": [],
                "libobs.hide_scene_item.CloseUp": [],
                "libobs.hide_scene_item.Display Capture": [],
                "libobs.hide_scene_item.Whiteboard": [],
                "libobs.show_scene_item.CloseUp": [],
                "libobs.show_scene_item.Display Capture": [],
                "libobs.show_scene_item.Whiteboard": []
            },
            "id": "scene",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "LiveStream",
            "prev_ver": 436273153,
            "private_settings": {
                "transition": ""
            },
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "custom_size": false,
                "id_counter": 3,
                "items": [
                    {
                        "align": 5,
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 0,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "group_item_backup": false,
                        "id": 1,
                        "locked": false,
                        "name": "Display Capture",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 0,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "group_item_backup": false,
                        "id": 2,
                        "locked": false,
                        "name": "CloseUp",
                        "pos": {
                            "x": 1149.0,
                            "y": 610.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 0.65234375,
                            "y": 0.65277779102325439
                        },
                        "scale_filter": "disable",
                        "visible": true
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 1977.0,
                            "y": 1139.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 2,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "group_item_backup": false,
                        "id": 3,
                        "locked": false,
                        "name": "Whiteboard",
                        "pos": {
                            "x": 0.0,
                            "y": -59.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": false
                    }
                ]
            },
            "sync": 0,
            "versioned_id": "scene",
            "volume": 1.0
        },
        {
            "balance": 0.5,
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {},
            "id": "monitor_capture",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Display Capture",
            "prev_ver": 436273153,
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "monitor": 2
            },
            "sync": 0,
            "versioned_id": "monitor_capture",
            "volume": 1.0
        },
        {
            "balance": 0.5,
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "filters": [
                {
                    "balance": 0.5,
                    "deinterlace_field_order": 0,
                    "deinterlace_mode": 0,
                    "enabled": true,
                    "flags": 0,
                    "hotkeys": {},
                    "id": "chroma_key_filter",
                    "mixers": 0,
                    "monitoring_type": 0,
                    "muted": false,
                    "name": "Chroma Key",
                    "prev_ver": 436273153,
                    "private_settings": {},
                    "push-to-mute": false,
                    "push-to-mute-delay": 0,
                    "push-to-talk": false,
                    "push-to-talk-delay": 0,
                    "settings": {
                        "brightness": -0.089999999999999997,
                        "contrast": -0.029999999999999999,
                        "gamma": 0.10000000000000001,
                        "key_color": 4286031912,
                        "key_color_type": "custom",
                        "similarity": 108,
                        "smoothness": 84,
                        "spill": 39
                    },
                    "sync": 0,
                    "versioned_id": "chroma_key_filter",
                    "volume": 1.0
                },
                {
                    "balance": 0.5,
                    "deinterlace_field_order": 0,
                    "deinterlace_mode": 0,
                    "enabled": true,
                    "flags": 0,
                    "hotkeys": {},
                    "id": "color_filter",
                    "mixers": 0,
                    "monitoring_type": 0,
                    "muted": false,
                    "name": "Color Correction",
                    "prev_ver": 436273153,
                    "private_settings": {},
                    "push-to-mute": false,
                    "push-to-mute-delay": 0,
                    "push-to-talk": false,
                    "push-to-talk-delay": 0,
                    "settings": {
                        "brightness": -0.070000000000000007,
                        "contrast": 0.050000000000000003,
                        "gamma": -0.089999999999999997,
                        "hue_shift": -19.109999999999999,
                        "saturation": 0.25
                    },
                    "sync": 0,
                    "versioned_id": "color_filter",
                    "volume": 1.0
                }
            ],
            "flags": 0,
            "hotkeys": {
                "libobs.mute": [],
                "libobs.push-to-mute": [],
                "libobs.push-to-talk": [],
                "libobs.unmute": []
            },
            "id": "dshow_input",
            "mixers": 255,
            "monitoring_type": 0,
            "muted": false,
            "name": "CloseUp",
            "prev_ver": 436273153,
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "active": true,
                "audio_device_id": "Microphone (Yeti Stereo Microphone):",
                "deactivate_when_not_showing": true,
                "last_resolution": "1280x720",
                "last_video_device_id": "Microsoft® LifeCam Studio(TM):\\\\?\\usb#22vid_045e&pid_0772&mi_00#228&31aaa593&0&0000#22{65e8773d-8f56-11d0-a3b9-00a0c9223196}\\global",
                "res_type": 1,
                "resolution": "1280x720",
                "use_custom_audio_device": true,
                "video_device_id": "Microsoft® LifeCam Studio(TM):\\\\?\\usb#22vid_045e&pid_0772&mi_00#228&31aaa593&0&0000#22{65e8773d-8f56-11d0-a3b9-00a0c9223196}\\global"
            },
            "sync": 0,
            "versioned_id": "dshow_input",
            "volume": 1.0
        },
        {
            "balance": 0.5,
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {
                "OBSBasic.SelectScene": [],
                "libobs.hide_scene_item.Background": [],
                "libobs.hide_scene_item.CloseUp": [],
                "libobs.hide_scene_item.Display Capture": [],
                "libobs.hide_scene_item.Moving Background": [],
                "libobs.hide_scene_item.World Window": [],
                "libobs.show_scene_item.Background": [],
                "libobs.show_scene_item.CloseUp": [],
                "libobs.show_scene_item.Display Capture": [],
                "libobs.show_scene_item.Moving Background": [],
                "libobs.show_scene_item.World Window": []
            },
            "id": "scene",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "VideoChat",
            "prev_ver": 436273153,
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "custom_size": false,
                "id_counter": 7,
                "items": [
                    {
                        "align": 5,
                        "bounds": {
                            "x": 1920.0,
                            "y": 1080.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 1,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "group_item_backup": false,
                        "id": 4,
                        "locked": false,
                        "name": "Background",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": -1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": true
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 0,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "group_item_backup": false,
                        "id": 5,
                        "locked": false,
                        "name": "Moving Background",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": false
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 0,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "group_item_backup": false,
                        "id": 7,
                        "locked": false,
                        "name": "World Window",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 2.0,
                            "y": 2.0
                        },
                        "scale_filter": "disable",
                        "visible": false
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 0,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "group_item_backup": false,
                        "id": 1,
                        "locked": false,
                        "name": "Display Capture",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {},
                        "rot": 0.0,
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_filter": "disable",
                        "visible": false
                    },
                    {
                        "align": 5,
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_align": 0,
                        "bounds_type": 0,
                        "crop_bottom": 0,
                        "crop_left": 0,
                        "crop_right": 0,
                        "crop_top": 0,
                        "group_item_backup": false,
                        "id": 2,
                        "locked": false,
                        "name": "CloseUp",
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "private_settings": {
                            "color": "",
                            "color-preset": 0
                        },
                        "rot": 0.0,
                        "scale": {
                            "x": 1.5,
                            "y": 1.5
                        },
                        "scale_filter": "disable",
                        "visible": true
                    }
                ]
            },
            "sync": 0,
            "versioned_id": "scene",
            "volume": 1.0
        },
        {
            "balance": 0.5,
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {},
            "id": "image_source",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Background",
            "prev_ver": 436273153,
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "file": "{{.chezmoi.homeDir}}/Pictures/Backgrounds/DrWho1.jpg"
            },
            "sync": 0,
            "versioned_id": "image_source",
            "volume": 1.0
        },
        {
            "balance": 0.5,
            "deinterlace_field_order": 0,
            "deinterlace_mode": 0,
            "enabled": true,
            "flags": 0,
            "hotkeys": {
                "OBSBasic.SelectScene": []
            },
            "id": "scene",
            "mixers": 0,
            "monitoring_type": 0,
            "muted": false,
            "name": "Blank",
            "prev_ver": 436273153,
            "private_settings": {},
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "settings": {
                "custom_size": false,
                "id_counter": 0,
                "items": []
            },
            "sync": 0,
            "versioned_id": "scene",
            "volume": 1.0
        }
    ],
    "transition_duration": 300,
    "transitions": []
}