[push]
	default = current
[core]
	editor = code-insiders --wait
[user]
	name = Joel Bennett
	email = {{ .email }}
[pull]
	rebase = true
[core]
	pager = delta
[delta]
	syntax-theme = Monokai Extended
	line-numbers = true
[interactive]
	diffFilter = delta --color-only
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code-insiders --wait $MERGED"
[diff]
	tool = vscode
	colorMoved = default
[difftool "vscode"]
	cmd = "code-insiders --wait --diff $LOCAL $REMOTE"