# We need to force encoding to UTF8 for PSReadLine to do the right thing with extended characters
# But we need to make sure it's UTF8-NoBOM
[Console]::OutputEncoding = [Console]::InputEncoding = $OutputEncoding = [System.Text.UTF8Encoding]::new()
$global:IsVSCode = $ENV:TERM_PROGRAM -eq "vscode"

# Just a handful of additional TypeAccelerators
$xlr8r = [psobject].assembly.gettype("System.Management.Automation.TypeAccelerators")
$Accelerate = @{
    ReadLine   = [Microsoft.PowerShell.PSConsoleReadLine]
    List       = [System.Collections.Generic.List``1]
    Dictionary = [System.Collections.Generic.Dictionary``2]
}
if ($xlr8r::AddReplace) {
    $Accelerate.GetEnumerator().ForEach({
        $xlr8r::AddReplace($_.Key, $_.Value)
    })
} else {
    $Accelerate.GetEnumerator().ForEach({
        $null = $xlr8r::Remove($_.Key)
        $xlr8r::Add($_.Key, $_.Value)
    })
}

# Write-Host "Checking PSModulePath.env"
# Once a week I want to update the PSModulePath, just in case
$Before = (Get-Item ($PSModulePathPath = [IO.Path]::ChangeExtension($Profile, ".PSModulePath.env")) -ErrorAction Ignore).LastWriteTime
if (-not $Before -or (24 * 7) -lt ([DateTime]::Now - $Before).TotalHours) {
    Update-PSModulePath $PSModulePathFile -ProfileDir $ProfileDir
}

# Write-Host "Setting Location."
# For default elevated sessions, set the start location where it should be
if ($pwd.Path -eq "$Env:SystemRoot\System32") {
    {{ if eq .chezmoi.username "LD\\joelbennett" -}}
    Set-Location $ldx
    {{- else -}}
    Set-Location $ProfileDir
    {{- end }}
}
{{ template "DefaultModules.ps1" . }}
try {
    Import-Module -FullyQualifiedName $DefaultModules -Scope Global -ErrorAction Stop
} catch {
    Write-Warning "Failed to import default modules. Trying again, one at a time."
    foreach($Module in $DefaultModules) {
        try {
            Import-Module -FullyQualifiedName $Module -Scope Global -ErrorAction Stop
        } catch {
            Write-Warning "Failed to import $($Module.ModuleName) module version $($Module.ModuleVersion) or higher.`n$($_ | Get-Error)."
        }
    }
}

# Write-Host "Importing Theme."
if ((Test-Elevation) -and (Get-Theme "$([Environment]::UserName)-Elevated")) {
    Import-Theme "$([Environment]::UserName)-Elevated"
} elseif (($PSVersionTable.PSVersion.Major -le 7) -and (Get-Theme "$([Environment]::UserName)-Legacy")) {
    Import-Theme "$([Environment]::UserName)-Legacy"
} elseif (Get-Theme "$([Environment]::UserName)") {
    Import-Theme "$([Environment]::UserName)"
} else {
    Import-Theme Darkly
}

if ($PSStyle.OutputRendering) {
    # Make sure PSStyle doesn't mess with our color!
    $PSStyle.OutputRendering = 'ansi'
}
[PoshCode.Pansies.RgbColor]::ColorMode = 'Rgb24Bit'

$global:GitPromptSettings = New-GitPromptSettings
$global:GitPromptSettings.BeforeStatus = ''
$global:GitPromptSettings.AfterStatus = ''
$global:GitPromptSettings.PathStatusSeparator = ''
$global:GitPromptSettings.BeforeStash.Text = "$(Text '&ReverseSeparator;')"
$global:GitPromptSettings.AfterStash.Text = "$(Text '&Separator;')"


# In case TERM_PROGRAM supports shell integration, add some things to the prompt/readline before we output the prompt
# https://gitlab.freedesktop.org/Per_Bothner/specifications/blob/master/proposals/semantic-prompts.md
# https://code.visualstudio.com/docs/terminal/shell-integration#_manual-installation
# https://wezfurlong.org/wezterm/shell-integration.html

function global:PSConsoleHostReadLine {
    # End of prompt and start of user input
    # OSC 133 ; B ST
    [Console]::Write("$([char]0x1b)]133;B`a")
    $command = PSReadLine\PSConsoleHostReadLine
    # End of input, and start of output.
    # OSC 133 ; C ST
    [Console]::Write("$([char]0x1b)]133;C`a")
    $command
}

try {
    Add-PowerLineBlock -Index 0 ([PoshCode.TerminalBlock]@{
        MyInvocation = " " # this is a trick to make sure it doesn't export :)
        Caps         = ""
        Content      = {
            @(
                # This doesn't need to run if $MyInvocation.HistoryId hasn't changed...
                if ($MyInvocation.HistoryId -gt 1) {
                    if ($global:LastHistoryId -ne ($global:LastHistoryId = $MyInvocation.HistoryId)) {
                        # Command finished. Exit code only cares if it's zero or not.
                        # OSC 133 ; D [; <ExitCode>] ST
                        "$([char]0x1b)]133;D;$([int]![PoshCode.TerminalBlock]::LastSuccess)`a"
                    } else {
                        "$([char]0x1b)]133;D;0`a"
                    }
                }

                # Prompt started
                # OSC 633 ; A ST
                "$([char]0x1b)]133;A`a"

                # Update current working directory
                # OSC 7; file://<hostname>/<path> ST
                "$([char]0x1b)]7;file://${env:COMPUTERNAME}/$($ExecutionContext.SessionState.Path.CurrentFileSystemLocation)`a"
            ) -join ""
        }
    })

    if ($IsVSCode) {
        # Stop VSCode from screwing with my prompt
        $global:__VSCodeOriginalPrompt = { Write-PowerlinePrompt }
        Add-PowerLineBlock -Index 0 ([PoshCode.TerminalBlock]@{
            MyInvocation = " " # this is a trick to make sure it doesn't export :)
            Caps         = ""
            Content      = {
                if (($MyInvocation.HistoryId -gt 1) -and ($global:LastHistoryId -ne ($global:LastHistoryId = $MyInvocation.HistoryId))) {
                    # Add command-line to history
                    # OSC 633 ; E [; <CommandLine>] ST
                    "$([char]0x1b)]633;E;$((Get-History -Id ($MyInvocation.HistoryId -1) -ErrorAction Ignore).CommandLine.Replace("\", "\\").Replace("`n", "\x0a").Replace(";", "\x3b"))`a"
                }
            }
        })
        # Set IsWindows property
        [Console]::Write("$([char]0x1b)]633;P;IsWindows=$($IsWindows)`a")

        # Remap key handlers to the VSCode compatible keybindings
        function Copy-PSReadlineKeyHandler {
            param ([string[]]$OldChord, [string[]]$NewChord)
            try {
                $Handler = Get-PSReadLineKeyHandler -Chord $OldChord | Select-Object -First 1
            } catch [System.Management.Automation.ParameterBindingException] {
                # PowerShell 5.1 ships with PSReadLine 2.0.0 which does not have -Chord,
                # so we check what's bound and filter it.
                $Handler = Get-PSReadLineKeyHandler -Bound | Where-Object -FilterScript { $_.Key -eq $OldChord } | Select-Object -First 1
            }
            if ($Handler) {
                Set-PSReadLineKeyHandler -Chord $NewChord -Function $Handler.Function
            }
        }
        Copy-PSReadlineKeyHandler 'Ctrl+Spacebar' 'F12,a'
        Copy-PSReadlineKeyHandler 'Alt+Spacebar' 'F12,b'
        Copy-PSReadlineKeyHandler 'Shift+Enter' 'F12,c'
        Copy-PSReadlineKeyHandler 'Shift+End' 'F12,d'
    }
} catch {
    Write-Warning "Failed to add terminal blocks to prompt."
}

# Write-Host "Setting PSReadLine Options."
Set-PSReadLineOption -HistoryNoDuplicates:$false -MaximumHistoryCount 8kb -EditMode Windows -PredictionViewStyle ListView

# this nonsense is temporary, just because I'm using a pre-release PSReadLine and I love it...
if ($PSVersionTable.PSVersion -ge "7.1") {
    Set-PSReadLineOption -PredictionSource HistoryAndPlugin
} else {
    Set-PSReadLineOption -PredictionSource History
}

# Write-Host "Configure PSReadLine KeyHandlers"
# This would be SO MUCH FASTER if PSReadLine had a config file instead of me calling this cmdlet 15 or 20 times
Set-PSReadLineKeyHandler Ctrl+Alt+c CaptureScreen
Set-PSReadLineKeyHandler Ctrl+Shift+r ForwardSearchHistory
Set-PSReadLineKeyHandler Ctrl+r ReverseSearchHistory

Set-PSReadLineKeyHandler Ctrl+DownArrow HistorySearchForward
Set-PSReadLineKeyHandler Ctrl+UpArrow HistorySearchBackward
Set-PSReadLineKeyHandler Ctrl+Home BeginningOfHistory

Set-PSReadLineKeyHandler Ctrl+m SetMark
Set-PSReadLineKeyHandler Ctrl+m ExchangePointAndMark

Set-PSReadLineKeyHandler Ctrl+K KillLine
Set-PSReadLineKeyHandler Ctrl+I Yank

Set-PSReadLineKeyHandler Ctrl+h BackwardDeleteWord
Set-PSReadLineKeyHandler Ctrl+Enter AddLine
Set-PSReadLineKeyHandler Ctrl+Shift+Enter {
    if ([ReadLine]::GetHistoryItems().Count -gt 7.5kb) {
        Set-PSReadLineOption -MaximumHistoryCount 7kb
        Set-PSReadLineOption -MaximumHistoryCount 8kb
    }
    [ReadLine]::AcceptAndGetNext()
}

Set-PSReadLineKeyHandler -Key Alt+w {
    param($key, $arg)

    $line = $null
    $cursor = $null
    [ReadLine]::GetBufferState([ref]$line, [ref]$cursor)
    [ReadLine]::AddToHistory($line)
    [ReadLine]::RevertLine()
} -Description "Save current line in history but do not execute"

Set-PSReadLineKeyHandler '(', '{', '"', "'" {
    param($key, $arg)

    $closeChar = switch ($key.KeyChar) {
        '(' { [char]')'; break }
        # '{' { [char]'}'; break }
        '[' { [char]']'; break }
        '"' { [char]'"'; break }
        "'" { [char]"'"; break }
    }

    $start = $null
    $length = $null
    [ReadLine]::GetSelectionState([ref]$start, [ref]$length)

    $command = $null
    $cursor = $null
    [ReadLine]::GetBufferState([ref]$command, [ref]$cursor)

    if ($start -ne -1) {
        # Text is selected, wrap it in brackets
        [ReadLine]::Replace($start, $length, $key.KeyChar + $command.SubString($start, $length) + $closeChar)
        [ReadLine]::SetCursorPosition($start + $length + 2)
    } elseif ($cursor -eq 0 -and $command.length) {
        # Cursor's at the start of the command, wrap the whole command
        [ReadLine]::Replace(0, $command.length, $key.KeyChar + $command + $closeChar)
        [ReadLine]::SetCursorPosition($command.length + 2)
    } elseif ($cursor -eq $command.length) {
        # If we're at the end, do a matching pair
        [ReadLine]::Insert("$($key.KeyChar)$closeChar")
        [ReadLine]::SetCursorPosition($cursor + 1)
    } else {
        # Otherwise, just the character they typed
        [ReadLine]::Insert("$($key.KeyChar)")
        [ReadLine]::SetCursorPosition($cursor + 1)
    }
} -Description "Insert matching braces and quotes"

Set-PSReadLineKeyHandler ')', '}', '"', "'" {
    param($key, $arg)

    $command = $null
    $cursor = $null
    [ReadLine]::GetBufferState([ref]$command, [ref]$cursor)

    # If the _next_ character matches this one, just move past it
    if ($command[$cursor] -eq $key.KeyChar) {
        [ReadLine]::SetCursorPosition($cursor + 1)
    } else {
        [ReadLine]::Insert("$($key.KeyChar)")
    }

    # For unmatched closing parenthesis, wrap the whole command
    if ($key.KeyChar -eq ')') {
        $tokens = $null
        $parseError = $null
        $ast = $null
        $cursor = $null
        [ReadLine]::GetBufferState([ref]$ast, [ref]$tokens, [ref]$parseError, [ref]$cursor)
        # but only if it's at the VERY end
        if ($parseError.Extent.Text -eq $key.KeyChar -and $parseError.Extent.EndOffset -eq $cursor) {
            [ReadLine]::Replace(0, $ast.Extent.EndOffset, "($command)" )
            [ReadLine]::SetCursorPosition($command.length + 2)
        }
    }
} -Description "Insert or skip closing brace or wrap!"

Set-PSReadLineKeyHandler Backspace {
    param($key, $arg)

    $line = $null
    $cursor = $null
    [ReadLine]::GetBufferState([ref]$line, [ref]$cursor)

    if ($cursor -gt 0) {
        $toMatch = $null
        if ($cursor -lt $line.Length) {
            switch ($line[$cursor]) {
                # '"' { $toMatch = '"'; break }
                # "'" { $toMatch = "'"; break }
                ')' { $toMatch = '('; break }
                ']' { $toMatch = '['; break }
                '}' { $toMatch = '{'; break }
            }
        }

        if ($toMatch -ne $null -and $line[$cursor - 1] -eq $toMatch) {
            [ReadLine]::Delete($cursor - 1, 2)
        } else {
            [ReadLine]::BackwardDeleteChar($key, $arg)
        }
    }
} -Description "Delete smart quotes/parens/braces"

Set-PSReadLineKeyHandler "Alt+]" {
    param($key, $arg)
    $start = $null
    $length = $null
    [ReadLine]::GetSelectionState([ref]$start, [ref]$length)

    $command = $null
    $cursor = $null
    [ReadLine]::GetBufferState([ref]$command, [ref]$cursor)

    # if there's no selection, these should be set to the cursor
    if ($start -lt 0) { $start = $cursor; $length = 0 }
    $end = $start + $length
    # Write-Host "`e[s`e[0;0H`e[32mStart:$start End:$end Length:$Length `e[u"

    # pretend that entire lines are selected
    if ($start -gt 0) {
        $start = $command.SubString(0, $start).LastIndexOf("`n") + 1
    }
    $end = $end + $command.SubString($end).IndexOf("`n")
    $length = $end - $start
    # Write-Host "`e[s`e[2;0H`e[34mStart:$start End:$end Length:$Length `e[u"

    $lines = $command.SubString($start, $length)
    $count = ($lines -split "`n").Count
    # Write-Host "`e[s`e[3;0H`e[36m$lines`e[u"
    # Write-Host "`e[s`e[2;0H`e[34mStart:$start End:$end Length:$Length Lines:$Count`e[u"
    [ReadLine]::Replace($start, $length, ($lines -replace "(?m)^", "    "))
    [ReadLine]::SetCursorPosition($start)
    [ReadLine]::SelectLine()

    if ($count -gt 1) {
        while (--$Count) {
            [ReadLine]::SelectForwardChar()
            [ReadLine]::SelectLine()
        }
    }
} -Description "Indent selected lines"

Set-PSReadLineKeyHandler "Alt+[" {
    param($key, $arg)
    $start = $null
    $length = $null
    [ReadLine]::GetSelectionState([ref]$start, [ref]$length)

    $command = $null
    $cursor = $null
    [ReadLine]::GetBufferState([ref]$command, [ref]$cursor)

    # if there's no selection, these should be set to the cursor
    if ($start -lt 0) { $start = $cursor; $length = 0 }
    $end = $start + $length
    # Write-Host "`e[s`e[0;0H`e[32mStart:$start End:$end Length:$Length `e[u"

    # pretend that entire lines are selected
    if ($start -gt 0) {
        $start = $command.SubString(0, $start).LastIndexOf("`n") + 1
    }
    $end = $end + $command.SubString($end).IndexOf("`n")
    $length = $end - $start
    # Write-Host "`e[s`e[2;0H`e[34mStart:$start End:$end Length:$Length `e[u"

    $lines = $command.SubString($start, $length)
    $count = ($lines -split "`n").Count
    # Write-Host "`e[s`e[3;0H`e[36m$lines`e[u"
    # Write-Host "`e[s`e[2;0H`e[34mStart:$start End:$end Length:$Length Lines:$Count`e[u"

    [ReadLine]::Replace($start, $length, ($lines -replace "(?m)^    ", ""))
    [ReadLine]::SetCursorPosition($start)
    [ReadLine]::SelectLine()

    if ($count -gt 1) {
        while (--$Count) {
            [ReadLine]::SelectForwardChar()
            [ReadLine]::SelectLine()
        }
    }
} -Description "Unindent selected lines"

# Cycle through arguments on current line and select the text. This makes it easier to quickly change the argument if re-running a previously run command from the history
# or if using a psreadline predictor. You can also use a digit argument to specify which argument you want to select, i.e. Alt+1, Alt+a selects the first argument
# on the command line.
Set-PSReadLineKeyHandler -Key "Alt+j" {
    param($key, $arg)

    $tokens = $null
    $parseError = $null
    $ast = $null
    $cursor = $null
    [ReadLine]::GetBufferState([ref]$ast, [ref]$tokens, [ref]$parseError, [ref]$cursor)

    $asts = $ast.FindAll({
            $args[0] -is [System.Management.Automation.Language.ExpressionAst] -and
            $args[0].Parent -is [System.Management.Automation.Language.CommandAst] -and
            $args[0].Extent.StartOffset -ne $args[0].Parent.Extent.StartOffset -and
            $args[0].Extent -notmatch "^--"
        }, $true)

    if ($asts.Count -eq 0) {
        [ReadLine]::Ding()
        return
    }

    $nextAst = $null

    if ($null -ne $arg) {
        $nextAst = $asts[$arg - 1]
    } else {
        foreach ($ast in $asts) {
            if ($ast.Extent.StartOffset -ge $cursor) {
                $nextAst = $ast
                break
            }
        }

        if (!$nextAst) {
            $nextAst = $asts[0]
        }
    }

    $startOffsetAdjustment = 0
    $endOffsetAdjustment = 0

    if ($nextAst -is [System.Management.Automation.Language.StringConstantExpressionAst] -and
        $nextAst.StringConstantType -ne [System.Management.Automation.Language.StringConstantType]::BareWord) {
        $startOffsetAdjustment = 1
        $endOffsetAdjustment = 2
    }

    [ReadLine]::SetCursorPosition($nextAst.Extent.StartOffset + $startOffsetAdjustment)
    [ReadLine]::SetMark($null, $null)
    [ReadLine]::SelectForwardChar($null, ($nextAst.Extent.EndOffset - $nextAst.Extent.StartOffset) - $endOffsetAdjustment)
} -Description "Select next argument in the command line (or use a digit to select by index)"

Set-PSReadLineKeyHandler "alt+k" {
    $Suggestion = Get-History -Count 10 | Sort-Object Id -Descending | ForEach-Object {
        $tokens = $null
        $parseError = $null
        $Ast = [System.Management.Automation.Language.Parser]::ParseInput($_.CommandLine, [ref]$tokens, [ref]$parseError)

        if ($Kast = $Ast.Find({
                    $args[0] -is [System.Management.Automation.Language.CommandAst] -and
                    $args[0].CommandElements[0].Value -eq "kubectl" -and
                    $args[0].CommandElements.Value -eq "--context" #-and
                    #$args[0].CommandElements.Value -eq "--namespace"
                }, $true)) {
            $Parameter = $null
            foreach ($param in $kast.CommandElements.Where{ $_.StringConstantType -eq "BareWord" }.Value) {
                if ($Parameter -eq "Context") { $Context = $param; $Parameter = $null; continue }
                if ($Parameter -eq "Namespace") { $Namespace = $param; $Parameter = $null; continue }
                if ($param -in "--context", "-c") { $Parameter = "Context"; continue }
                elseif ($param -in "--namespace", "-n") { $Parameter = "Namespace"; continue }
            }
            "kubectl --context $Context --namespace $Namespace"
        }
    } | Select-Object -First 1

    if (!$Suggestion) {
        $context, $namespace = (kubectl config view --minify --template '{{range .contexts}}{{.name}}{{if .context.namespace}}/{{.context.namespace}}{{end}}{{end}}').Split("/")
        $Suggestion = "kubectl --context $context --namespace $namespace "
    }

    $line = $null
    $cursor = $null
    $offset = 0
    [Microsoft.PowerShell.PSConsoleReadLine]::GetBufferState([ref]$line, [ref]$cursor)

    # If the line is empty or just kubectl, insert the suggestion
    if (!$line -or $line -eq "kubectl ") {
        # Inject the start of a kubectl command with the explicit context
        [ReadLine]::Replace(0, $line.Length, $suggestion)
        if ($context -match "prd") { # audibly warn me
            Write-Host -NoNewline "`e[3;3;11;7;11;7,~"
        }
        if($namespace) {
            # Select the namespace at the end, so you can replace it
            [ReadLine]::SetCursorPosition($suggestion.Length - $namespace.Length)
            [ReadLine]::SelectForwardChar($null, $namespace.Length)
        }
    # If I press it twice ... take off the parameters
    } elseif ($line -eq $suggestion) {
        [ReadLine]::Replace(0, $line.Length, "kubectl ")
        [ReadLine]::SetCursorPosition(8)
    }
} -Description "macro: kubectl --context <current-context> --namespace demos"
<#
Set-PSReadLineKeyHandler -Chord 'F12,b' {
    $commandLine = ""
    $cursorIndex = 0
    [Microsoft.PowerShell.PSConsoleReadLine]::GetBufferState([ref]$commandLine, [ref]$cursorIndex)
    $completionPrefix = $commandLine

    $result = "`e]633;Completions"
    if ($completionPrefix.Length -gt 0) {
        $completions = TabExpansion2 -inputScript $completionPrefix -cursorColumn $cursorIndex
        if ($null -ne $completions.CompletionMatches) {
            $result += ";$($completions.ReplacementIndex);$($completions.ReplacementLength);$($cursorIndex);"
            $result += $completions.CompletionMatches | ConvertTo-Json -Compress
        }
    }
    $result += "`a"

    Write-Host -NoNewLine $result
} -Description "Send completions to terminal"
#>

# Write-Host "Write PowerLine Prompt"
# Now that we've imported PowerLine and configured Posh-Git we can call the NEW prompt function:
Write-PowerlinePrompt

{{ if eq .chezmoi.username "LD\\joelbennett" -}}
# Write-Host "Detected LoanDepot"

# Gives you tab completion on -Component, -Environment, -Datacenter, -ComputerName, -Role parameters on all commands in the below modules.
# Beware the more modules you add to this list, the longer you powershell profile will take to set up.
Update-LDArgumentCompleter -ModuleName "LDXGet", "LDXSet", "LDNetworking", "LDF5", "LDServerManagement"

# You must regularly Update-LDModule...
# But not from inside VS Code, because when I open VS Code, I'm usually opening 3-6 at a time
if (!$IsVSCode) {
    # Write-Host "Detected not VS Code"

    $Now = Get-Date
    $LDUtilityManifest = Get-Module -List LDUtility | Get-Item | Select-Object -First 1
    $Age = ($Now - $LDUtilityManifest.LastWriteTime).TotalHours
    if ($Age -gt 12) {
        $LDUtilityManifest.LastWriteTime = $Now
        # Run this super frustrating update in a separate tab in windows terminal
        wt -w 0 --title "Update-LDModule" -p "Windows PowerShell" PowerShell -NonInteractive -Command Update-LDModule -Scope CurrentUser -Verbose
    }
    <#
    As a developer, I have full admin rights on my laptop...
    But our IT department still deploys GPO's that break things from time to time.
    So for breaking policies that can be removed in the registry, I just fix it.

    The Microsoft\FVE policy breaks Docker: https://github.com/docker/for-win/issues/1297

    The Microsoft\Edge and Google\Chrome policies force startup options
    #>
    $Roots = @(
        "HKLM:\SOFTWARE\Policies\Microsoft\Edge"
        "HKLM:\SOFTWARE\Policies\Google\Chrome"
        "HKCU:\SOFTWARE\Policies\Microsoft\Edge"
        "HKCU:\SOFTWARE\Policies\Google\Chrome"
    )

    $Paths = $Roots | Where-Object { $_ | Test-Path }
    # If any of these policy folders exist, run PowerShell elevated to clean up
    if ($Paths) {
        Start-Process pwsh -Verb RunAs -ArgumentList "-NoProfile -NonInteractive -Command ""&{ Set-ItemProperty HKLM:\SYSTEM\CurrentControlSet\Policies\Microsoft\FVE FDVDenyWriteAccess 0; Remove-Item 'HKLM:\SOFTWARE\Policies\Microsoft\Edge','HKCU:\SOFTWARE\Policies\Microsoft\Edge','HKLM:\SOFTWARE\Policies\Google\Chrome','HKCU:\SOFTWARE\Policies\Google\Chrome' -Recurse -ErrorAction SilentlyContinue }"""
    }

    # Corporate keeps pinning things. They obviously don't understand the meaning of "User Pinned"
    Get-ChildItem "$env:APPDATA\Microsoft\Internet Explorer\Quick Launch\User Pinned\Taskbar" |
        Where-Object { $_.BaseName -notin "KeePass 2", "Firefox", "WezTerm", "File Explorer", "Microsoft Teams", "Visual Studio Code - Insiders", "Outlook" } |
        ForEach-Object {
            Start-Process -FilePath $_.FullName -Verb "taskbarunpin" -ErrorAction SilentlyContinue
        }
}
# Make your life easier, set your deuterium path as a default
$PSDefaultParameterValues["*:DeuteriumPath"] = "$deut"
{{- end }}

# The PowerShell Extension host is slightly different:
if ($IsVSCode -and $Host.Name -eq "Visual Studio Code Host") {
    # This module and command are only useable in the "PowerShell Integrated Console" in VS Code
    Import-Module EditorServicesCommandSuite
    Import-EditorCommand -Module EditorServicesCommandSuite
}