#!/usr/bin/env pwsh
# This script needs to install modules whenever I change the Initialize-Interactive script
# profile hash: {{ include "dot_local/share/powershell/Scripts/Initialize-Interactive.ps1.tmpl" | sha256sum }}
$ErrorView = 'DetailedView'
Get-Module Microsoft.PowerShell.PSResourceGet -List -OutVariable PSResourceGet | Out-Host

if (!$PSResourceGet) {
    Write-Warning ($PSVersionTable | Out-String)
    Write-Warning ($Env:PSModulePath -replace ([IO.Path]::PathSeparator), "`n")
    $PowerShellGet = Import-Module PowerShellGet -Passthru
    Write-Warning "Installing PSResourceGet, using PowerShellGet $($PowerShellGet.Version)"
    $PSResourceGet = Install-Module -Name Microsoft.PowerShell.PSResourceGet -AllowPrerelease -Scope CurrentUser -Force -PassThru
    Write-Warning "Importing PSResourceGet $($PSResourceGet.Version)"
    $PSResourceGet | Import-Module -Force
    Write-Warning "Trusting PSGallery"
    Set-PSResourceRepository -Name PSGallery -Trusted
}
{{ template "DefaultModules.ps1" . }}

$RequiredModules = @{
    "Microsoft.PowerShell.PSResourceGet" = "[1.0.1, 2.0)"
}
$DefaultModules | ForEach-Object {
    $RequiredModules[$_.ModuleName] = if ($_.ModuleVersion) { "[$($_.ModuleVersion),)" } else { "[$($_.RequiredVersion)]" }
}
Write-Warning "Pre-installing $($RequiredModules.Count) modules: $($RequiredModules.Keys -join ', ')"
$Script = Install-Script -Name Install-RequiredModule -Scope CurrentUser -Force -PassThru
$Script = Install-Script -Name Install-GithubRelease -Scope CurrentUser -Force -PassThru
if ($Env:PATH -split [IO.Path]::PathSeparator -notcontains $Script.InstalledLocation) {
    $ENV:PATH += ([IO.Path]::PathSeparator) + (Convert-Path $Script.InstalledLocation)
}
# https://github.com/PowerShell/PSResourceGet/issues/1448
Install-RequiredModule $RequiredModules -Scope CurrentUser -TrustRegisteredRepositories
Install-GithubRelease rsteube carapace-bin
