#!/usr/bin/env pwsh
# This script needs to install modules whenever I change the Initialize-Interactive script
# profile hash: {{ include "dot_local/share/powershell/Scripts/Initialize-Interactive.ps1.tmpl" | sha256sum }}
$ErrorView = 'DetailedView'
Get-Module -FullyQualifiedName @{ ModuleName = "PowerShellGet"; ModuleVersion = "3.0.17" } -List -OutVariable PowerShellGet | Out-Host

if (!$PowerShellGet) {
    Write-Warning ($PSVersionTable | Out-String)
    Write-Warning ($Env:PSModulePath -replace ([IO.Path]::PathSeparator), "`n")
    $PowerShellGet = Import-Module PowerShellGet -Passthru
    Write-Warning "Installing PowerShellGet 3, using PowerShellGet $($PowerShellGet.Version)"
    $PowerShellGet = Install-Module -Name PowerShellGet -MinimumVersion "3.0.15" -AllowPrerelease -Scope CurrentUser -Force -PassThru
    Write-Warning "Importing PowerShellGet $($PowerShellGet.Version)"
    $PowerShellGet | Import-Module -Force
    Write-Warning "Trusting PSGallery"
    Set-PSResourceRepository -Name PSGallery -Trusted
}
{{ template "DefaultModules.ps1" . }}

$RequiredModules = @{}
$DefaultModules | ForEach-Object {
    $RequiredModules[$_.ModuleName] = if ($_.ModuleVersion) { "[$($_.ModuleVersion),)" } else { "[$($_.RequiredVersion)]" }
}
Write-Warning "Pre-installing $($RequiredModules.Count) modules: $($RequiredModules.Keys -join ', ')"
Install-PSResource -RequiredResource $RequiredModules -Scope CurrentUser