[General]
Pre19Defaults=false
Pre21Defaults=false
Pre23Defaults=false
Pre24.1Defaults=false
LastUpdateCheck=0
InstallGUID=21e2b5bb6a4f890ff8993b82b5b85f9d31fa0806
FirstRun=true
LastVersion=436273153

[Basic]
Profile=Default
ProfileDir=Default
SceneCollection=Daily
SceneCollectionFile=Daily

[BasicWindow]
gridMode=false
geometry=AdnQywADAAD/////////+AAAB4AAAAQQAAABxgAAAFUAAAYCAAAENgAAAAACAAAAB4AAAAAAAAAAFwAAB38AAAQP
DockState=AAAA/wAAAAD9AAAAAgAAAAEAAAAAAAAAAPwCAAAABPsAAAAUAHQAdwBpAHQAYwBoAEMAaABhAHQCAAAGFAAAAL0AAAEsAAACWPsAAAAUAHQAdwBpAHQAYwBoAEkAbgBmAG8CAAAACAAAAK0AAAEsAAACivsAAAAWAHQAdwBpAHQAYwBoAFMAdABhAHQAcwIAAANbAAABewAAAMgAAAD6+wAAABQAdAB3AGkAdABjAGgARgBlAGUAZAIAAAIHAAAA4AAAASwAAAKKAAAAAwAAB4AAAACr/AEAAAAG+wAAABQAcwBjAGUAbgBlAHMARABvAGMAawEAAAAAAAACnwAAAKAA////+wAAABYAcwBvAHUAcgBjAGUAcwBEAG8AYwBrAQAAAqMAAAEdAAAAoAD////7AAAAEgBtAGkAeABlAHIARABvAGMAawEAAAPEAAABiAAAANwA////+wAAAB4AdAByAGEAbgBzAGkAdABpAG8AbgBzAEQAbwBjAGsBAAAFUAAAARMAAACaAP////sAAAAYAGMAbwBuAHQAcgBvAGwAcwBEAG8AYwBrAQAABmcAAAEZAAAAngD////7AAAAEgBzAHQAYQB0AHMARABvAGMAawIAAAGrAAABhAAABE4AAAFGAAAHgAAAAxwAAAAEAAAABAAAAAgAAAAI/AAAAAA=
ExtraBrowserDocks=[]
PreviewEnabled=true
AlwaysOnTop=false
SceneDuplicationMode=true
SwapScenesMode=true
EditPropertiesMode=false
PreviewProgramMode=false
DocksLocked=false

[PropertiesWindow]
cx=720
cy=870

[ScriptLogWindow]
geometry=AdnQywADAAAAAAAAAAAAFAAAAlcAAAGjAAAAAAAAABQAAAJXAAABowAAAAAAAAAAB4AAAAAAAAAAFAAAAlcAAAGj
