
# On Windows PowerShell (ONLY) we can save a few ms by importing these ourselves
Import-Module -Name Microsoft.PowerShell.Management, Microsoft.PowerShell.Security, Microsoft.PowerShell.Utility -Verbose:$false

{{ template "interactive.ps1" . -}}